

.-lol{
    background-color:white;
    width:4vw;
    height:4vw;
    border-radius: 50%;

    
} 



#arrow{
    color: #212121;
    display: flex;
    justify-content:center;
    align-items: center;
      rotate: 180deg;
    font-size: 3vw;
    box-shadow: 0px 0px  2rem rgb(255, 255, 255),
    
    0px 0px 4rem;

}



#arrow2{
    color: #212121;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 3vw;
    box-shadow: 0px 0px  2rem rgb(255, 255, 255),
    
    0px 0px 4rem;
   
}



